rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAllowedUser(userId) {
      return request.auth != null
        && request.auth.uid == userId
        && request.auth.token.email in [
          "holzer.wolfgang@gmail.com",
          "nawolaju@gmail.com"
        ];
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isAllowedUser(userId);
    }
  }
}
